[submodule "third-party/zlib-ng"]
	path = third-party/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
[submodule "third-party/openssl"]
	path = third-party/openssl
	url = https://github.com/openssl/openssl.git
[submodule "third-party/zstd"]
	path = third-party/zstd
	url = https://github.com/facebook/zstd.git
[submodule "third-party/spdlog"]
	path = third-party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third-party/doxygen-awesome-css"]
	path = third-party/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css
[submodule "third-party/json"]
	path = third-party/json
	url = https://github.com/nlohmann/json.git
