name: Ubuntu Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test_compilers_gcc:
    run-on: ubuntu-latest
    strategy:
      matrix:
        compiler: [ 11, 12, 13, 14 ]
        preset: [ 'linux-release-user' ]
    container: gcc:${{ matrix.compiler }}
    steps:
      - name: Set up codebase
        uses: refvalue/setup-codebase-action@main
        with:
          shell: bash
      - name: Make and test
        uses: refvalue/make-and-test-action@main
        with:
          preset: ${{ matrix.preset }}
          shell: bash

  test_compilers_clang:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        compiler: [ 17, 18 ]
        preset: [ 'linux-release-user' ]
    container: silkeh/clang:${{ matrix.compiler }}
    steps:
      - name: Set up codebase
        uses: refvalue/setup-codebase-action@main
        with:
          shell: bash
      - name: Make and test
        uses: refvalue/make-and-test-action@main
        with:
          preset: ${{ matrix.preset }}
          shell: bash

  run_coverage_analysis:
    runs-on: ubuntu-latest
    container: gcc:14
    steps:
      - name: Set up codebase
        uses: refvalue/setup-codebase-action@main
        with:
          shell: bash
      - name: Make test and run coverage
        uses: refvalue/make-and-test-action@main
        with:
          preset: 'linux-release-user'
          shell: bash
          coverage: true
